{% extends 'base.html' %}

{% block content %}
{{queryset}}
<h1>Title: {{ queryset.title }}</h1>
<p><strong>Author:</strong> {{ queryset.author }}</p>
<p><strong>Date of publication:</strong> {{ queryset.date }}</p> 
<p><strong>text:</strong> {{ queryset.text }}</p>  
<a href = '{% url "update-article" queryset.id %}'>Update</a>

{% for comment in comments %}
    <li>{{comment.user}}, {{comment.date}}, {{comment.text}}</li>
    <a href = '{% url "update-comment" comment.id %}'>Update</a>
{% endfor %}

<form method="POST" action="">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit", name="save">Comment</button>
</form>

{% block delete-btn%}
    replace me
{% endblock %}

{% endblock %}

